* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 600px;
  margin: 20px;
  padding: px;
  position: relative;
  border: 1px solid #304f6d;
  border-radius: 5px;
  box-shadow: #00000090 0px 5px 10px;
  font-family: monospace;
}

.main_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todolist {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.todolist_class_component {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.todocard {
  width: 90%;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.todocard_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

.todocard_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* input {
  margin: 5px 10px;
  padding: 5px;
  border: 1px solid #304f6d;
  border-radius: 10px;
} */

button {
  margin: 5px;
  padding: 5px;
  background-color: #e2f3fd;
  border: 1px solid #304f6d;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #304f6d80;
}

.modal_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 10px;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background-color: #e0eaf5
}

.modal_inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#modalCloseBtn {
  padding: 0;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2%;
  left: 94%;
}

.sort_main {
  margin: 20px 20px;
  padding: 5px 10px;
  width: 80%;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

.sort_btn {
  display: flex;
  justify-content: space-around;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages_count {
  margin: 0 10px;
}

.errorboundary {
  display: flex;
  flex-direction: column;
  align-items: center;
}